<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CA6A7D60-2FE0-4ABC-9382-B76CDD6B5863</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yusbig-cy</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
