<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E3159DAE-0128-4E73-AC55-581FFEE7E572</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
