<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4349BAF6-8931-48D5-A064-72CF81DF80F0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.cond</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
