<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A4242FF8-6D26-4790-B7C4-16DE3E6236BC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.longs</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
