<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8E6C1FCA-EBB5-4649-8781-7107DEA1AB33</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
