<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EF4CEF38-74D8-4616-B9B7-7DE8AD5D5C56</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.em-cy</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
