<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>16F64E21-3353-4448-B008-1E6EFE97A599</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy</key>
      <integer>20</integer>
    </dict>
  </dict>
</plist>
