<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1B25E5D7-3E75-44DF-95DE-3E525BFD9E26</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ze-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
