<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0F30D4C2-84A9-41AB-BBCE-A7265654F2C8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>29</integer>
    </dict>
  </dict>
</plist>
