<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4A7AE44D-F920-4373-9592-96B3E0EA73C1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gheupturn-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
