<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4CCEE065-137C-4624-A269-BD6DDAB20FB5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>16</integer>
    </dict>
  </dict>
</plist>
