<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FF865863-42E1-4E2B-8B1A-8B3FC561619B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
