<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>995FFAD1-589C-43F2-9FFF-E47163511D5E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>17</integer>
    </dict>
  </dict>
</plist>
