<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BADB7B41-37D1-4FE9-B1A8-CA424A4B9ECA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
