<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7E848C54-324D-4A6A-85A8-EC0715A15D6F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
