<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1DD89FEE-1AC4-49E3-8506-8C00C5A996BB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
