<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6476D79B-1D84-4DB3-BEA3-300BE5A4AB2A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ezh</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
