<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F931A3EF-BB1C-4FB2-BD64-DB9DAA85CF15</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.entail-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.entail-cy.001</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
