<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>49A6BF16-1E71-4BEF-8229-77D8014B511C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstroke-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
