<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>61B2B995-471B-41A4-BC35-29DBB8E92613</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>17</integer>
    </dict>
  </dict>
</plist>
