<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Nov 7 17, 10:00</string>
      <string>glyphs.N_ov 7 17, 10_00</string>
    </array>
    <array>
      <string>Nov 7 17, 10:00.background</string>
      <string>glyphs.N_ov 7 17, 10_00.background</string>
    </array>
    <array>
      <string>Nov 7 17, 10:01</string>
      <string>glyphs.N_ov 7 17, 10_01</string>
    </array>
    <array>
      <string>Nov 7 17, 10:01.background</string>
      <string>glyphs.N_ov 7 17, 10_01.background</string>
    </array>
    <array>
      <string>Nov 7 17, 11:54</string>
      <string>glyphs.N_ov 7 17, 11_54</string>
    </array>
    <array>
      <string>Nov 7 17, 11:54.background</string>
      <string>glyphs.N_ov 7 17, 11_54.background</string>
    </array>
    <array>
      <string>Nov 7 17, 14:30</string>
      <string>glyphs.N_ov 7 17, 14_30</string>
    </array>
    <array>
      <string>Nov 7 17, 14:30.background</string>
      <string>glyphs.N_ov 7 17, 14_30.background</string>
    </array>
    <array>
      <string>Bold Oct 31 16, 17:46</string>
      <string>glyphs.B_old O_ct 31 16, 17_46</string>
    </array>
    <array>
      <string>Bold Oct 31 16, 17:48</string>
      <string>glyphs.B_old O_ct 31 16, 17_48</string>
    </array>
    <array>
      <string>Bold Oct 31 16, 17:48.background</string>
      <string>glyphs.B_old O_ct 31 16, 17_48.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 15:07</string>
      <string>glyphs.B_old N_ov 1 16, 15_07</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 15:07.background</string>
      <string>glyphs.B_old N_ov 1 16, 15_07.background</string>
    </array>
    <array>
      <string>Feb 24 17, 17:35</string>
      <string>glyphs.F_eb 24 17, 17_35</string>
    </array>
    <array>
      <string>Feb 24 17, 17:35.background</string>
      <string>glyphs.F_eb 24 17, 17_35.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 14:19</string>
      <string>glyphs.B_old N_ov 1 16, 14_19</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 14:29</string>
      <string>glyphs.B_old N_ov 1 16, 14_29</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 14:29.background</string>
      <string>glyphs.B_old N_ov 1 16, 14_29.background</string>
    </array>
    <array>
      <string>Nov 23 16, 19:49</string>
      <string>glyphs.N_ov 23 16, 19_49</string>
    </array>
    <array>
      <string>Nov 23 16, 19:49.background</string>
      <string>glyphs.N_ov 23 16, 19_49.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 11:41</string>
      <string>glyphs.B_old N_ov 1 16, 11_41</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 11:41.background</string>
      <string>glyphs.B_old N_ov 1 16, 11_41.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 11:42</string>
      <string>glyphs.B_old N_ov 1 16, 11_42</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 11:42.background</string>
      <string>glyphs.B_old N_ov 1 16, 11_42.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 12:03</string>
      <string>glyphs.B_old N_ov 1 16, 12_03</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 12:03.background</string>
      <string>glyphs.B_old N_ov 1 16, 12_03.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 12:08</string>
      <string>glyphs.B_old N_ov 1 16, 12_08</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 12:08.background</string>
      <string>glyphs.B_old N_ov 1 16, 12_08.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 17:02</string>
      <string>glyphs.B_old N_ov 1 16, 17_02</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 17:15</string>
      <string>glyphs.B_old N_ov 1 16, 17_15</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 17:15.background</string>
      <string>glyphs.B_old N_ov 1 16, 17_15.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 17:22</string>
      <string>glyphs.B_old N_ov 1 16, 17_22</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 17:22.background</string>
      <string>glyphs.B_old N_ov 1 16, 17_22.background</string>
    </array>
    <array>
      <string>Bold Nov 2 16, 18:52</string>
      <string>glyphs.B_old N_ov 2 16, 18_52</string>
    </array>
    <array>
      <string>Nov 24 16, 10:33</string>
      <string>glyphs.N_ov 24 16, 10_33</string>
    </array>
    <array>
      <string>Nov 24 16, 10:33.background</string>
      <string>glyphs.N_ov 24 16, 10_33.background</string>
    </array>
    <array>
      <string>Bold Nov 2 16, 11:32</string>
      <string>glyphs.B_old N_ov 2 16, 11_32</string>
    </array>
    <array>
      <string>Bold Nov 2 16, 11:32.background</string>
      <string>glyphs.B_old N_ov 2 16, 11_32.background</string>
    </array>
    <array>
      <string>Bold Nov 2 16, 11:33</string>
      <string>glyphs.B_old N_ov 2 16, 11_33</string>
    </array>
    <array>
      <string>Bold Nov 2 16, 11:33.background</string>
      <string>glyphs.B_old N_ov 2 16, 11_33.background</string>
    </array>
    <array>
      <string>Bold Nov 2 16, 11:35</string>
      <string>glyphs.B_old N_ov 2 16, 11_35</string>
    </array>
    <array>
      <string>Bold Nov 2 16, 11:35.background</string>
      <string>glyphs.B_old N_ov 2 16, 11_35.background</string>
    </array>
    <array>
      <string>Nov 23 16, 20:01</string>
      <string>glyphs.N_ov 23 16, 20_01</string>
    </array>
    <array>
      <string>Nov 23 16, 20:01.background</string>
      <string>glyphs.N_ov 23 16, 20_01.background</string>
    </array>
    <array>
      <string>Feb 22 17, 16:26</string>
      <string>glyphs.F_eb 22 17, 16_26</string>
    </array>
    <array>
      <string>Feb 22 17, 16:26.background</string>
      <string>glyphs.F_eb 22 17, 16_26.background</string>
    </array>
    <array>
      <string>Bold Nov 2 16, 20:42</string>
      <string>glyphs.B_old N_ov 2 16, 20_42</string>
    </array>
    <array>
      <string>Bold Nov 2 16, 20:43</string>
      <string>glyphs.B_old N_ov 2 16, 20_43</string>
    </array>
    <array>
      <string>Bold Nov 2 16, 20:43.background</string>
      <string>glyphs.B_old N_ov 2 16, 20_43.background</string>
    </array>
    <array>
      <string>Nov 23 16, 20:12</string>
      <string>glyphs.N_ov 23 16, 20_12</string>
    </array>
    <array>
      <string>Nov 23 16, 20:12.background</string>
      <string>glyphs.N_ov 23 16, 20_12.background</string>
    </array>
    <array>
      <string>Nov 24 16, 11:07</string>
      <string>glyphs.N_ov 24 16, 11_07</string>
    </array>
    <array>
      <string>Nov 24 16, 11:07.background</string>
      <string>glyphs.N_ov 24 16, 11_07.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 10:40</string>
      <string>glyphs.B_old N_ov 1 16, 10_40</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 10:40.background</string>
      <string>glyphs.B_old N_ov 1 16, 10_40.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 10:41</string>
      <string>glyphs.B_old N_ov 1 16, 10_41</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 10:41.background</string>
      <string>glyphs.B_old N_ov 1 16, 10_41.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 14:58</string>
      <string>glyphs.B_old N_ov 1 16, 14_58</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 14:58.background</string>
      <string>glyphs.B_old N_ov 1 16, 14_58.background</string>
    </array>
    <array>
      <string>Bold Nov 1 16, 15:29</string>
      <string>glyphs.B_old N_ov 1 16, 15_29</string>
    </array>
    <array>
      <string>Dec 23 16, 01:03</string>
      <string>glyphs.D_ec 23 16, 01_03</string>
    </array>
    <array>
      <string>Dec 23 16, 01:03.background</string>
      <string>glyphs.D_ec 23 16, 01_03.background</string>
    </array>
    <array>
      <string>Dec 23 16, 12:59</string>
      <string>glyphs.D_ec 23 16, 12_59</string>
    </array>
    <array>
      <string>Dec 23 16, 12:59.background</string>
      <string>glyphs.D_ec 23 16, 12_59.background</string>
    </array>
    <array>
      <string>Dec 23 16, 14:56</string>
      <string>glyphs.D_ec 23 16, 14_56</string>
    </array>
    <array>
      <string>Dec 23 16, 15:18</string>
      <string>glyphs.D_ec 23 16, 15_18</string>
    </array>
    <array>
      <string>Dec 23 16, 15:18.background</string>
      <string>glyphs.D_ec 23 16, 15_18.background</string>
    </array>
    <array>
      <string>Feb 22 17, 11:23</string>
      <string>glyphs.F_eb 22 17, 11_23</string>
    </array>
    <array>
      <string>Feb 22 17, 11:23.background</string>
      <string>glyphs.F_eb 22 17, 11_23.background</string>
    </array>
    <array>
      <string>Feb 22 17, 11:35</string>
      <string>glyphs.F_eb 22 17, 11_35</string>
    </array>
    <array>
      <string>Feb 22 17, 11:35.background</string>
      <string>glyphs.F_eb 22 17, 11_35.background</string>
    </array>
    <array>
      <string>Feb 22 17, 12:02</string>
      <string>glyphs.F_eb 22 17, 12_02</string>
    </array>
    <array>
      <string>Feb 22 17, 12:02.background</string>
      <string>glyphs.F_eb 22 17, 12_02.background</string>
    </array>
    <array>
      <string>Dec 23 16, 14:35</string>
      <string>glyphs.D_ec 23 16, 14_35</string>
    </array>
    <array>
      <string>Mar 14 17, 17:11</string>
      <string>glyphs.M_ar 14 17, 17_11</string>
    </array>
    <array>
      <string>Mar 14 17, 17:11.background</string>
      <string>glyphs.M_ar 14 17, 17_11.background</string>
    </array>
    <array>
      <string>Dec 15 16, 11:23</string>
      <string>glyphs.D_ec 15 16, 11_23</string>
    </array>
    <array>
      <string>Dec 15 16, 11:23.background</string>
      <string>glyphs.D_ec 15 16, 11_23.background</string>
    </array>
    <array>
      <string>Nov 7 17, 15:22</string>
      <string>glyphs.N_ov 7 17, 15_22</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 12:44</string>
      <string>glyphs.B_old N_ov 3 16, 12_44</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 12:49</string>
      <string>glyphs.B_old N_ov 3 16, 12_49</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 12:49.background</string>
      <string>glyphs.B_old N_ov 3 16, 12_49.background</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 12:57</string>
      <string>glyphs.B_old N_ov 3 16, 12_57</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 12:57.background</string>
      <string>glyphs.B_old N_ov 3 16, 12_57.background</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 16:04</string>
      <string>glyphs.B_old N_ov 3 16, 16_04</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 16:04.background</string>
      <string>glyphs.B_old N_ov 3 16, 16_04.background</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 16:11</string>
      <string>glyphs.B_old N_ov 3 16, 16_11</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 16:11.background</string>
      <string>glyphs.B_old N_ov 3 16, 16_11.background</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 16:27</string>
      <string>glyphs.B_old N_ov 3 16, 16_27</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 16:27.background</string>
      <string>glyphs.B_old N_ov 3 16, 16_27.background</string>
    </array>
    <array>
      <string>Nov 17 16, 13:20</string>
      <string>glyphs.N_ov 17 16, 13_20</string>
    </array>
    <array>
      <string>Nov 17 16, 13:20.background</string>
      <string>glyphs.N_ov 17 16, 13_20.background</string>
    </array>
    <array>
      <string>Nov 17 16, 17:16</string>
      <string>glyphs.N_ov 17 16, 17_16</string>
    </array>
    <array>
      <string>Nov 17 16, 17:16.background</string>
      <string>glyphs.N_ov 17 16, 17_16.background</string>
    </array>
    <array>
      <string>Nov 24 16, 11:58</string>
      <string>glyphs.N_ov 24 16, 11_58</string>
    </array>
    <array>
      <string>Nov 24 16, 11:58.background</string>
      <string>glyphs.N_ov 24 16, 11_58.background</string>
    </array>
    <array>
      <string>Nov 24 16, 10:15</string>
      <string>glyphs.N_ov 24 16, 10_15</string>
    </array>
    <array>
      <string>Nov 24 16, 10:15.background</string>
      <string>glyphs.N_ov 24 16, 10_15.background</string>
    </array>
    <array>
      <string>Nov 24 16, 10:24</string>
      <string>glyphs.N_ov 24 16, 10_24</string>
    </array>
    <array>
      <string>Nov 24 16, 10:24.background</string>
      <string>glyphs.N_ov 24 16, 10_24.background</string>
    </array>
    <array>
      <string>Nov 24 16, 10:30</string>
      <string>glyphs.N_ov 24 16, 10_30</string>
    </array>
    <array>
      <string>Nov 24 16, 10:30.background</string>
      <string>glyphs.N_ov 24 16, 10_30.background</string>
    </array>
    <array>
      <string>Nov 17 16, 18:08</string>
      <string>glyphs.N_ov 17 16, 18_08</string>
    </array>
    <array>
      <string>Nov 17 16, 18:08.background</string>
      <string>glyphs.N_ov 17 16, 18_08.background</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 12:23</string>
      <string>glyphs.B_old N_ov 3 16, 12_23</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 12:23.background</string>
      <string>glyphs.B_old N_ov 3 16, 12_23.background</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 12:34</string>
      <string>glyphs.B_old N_ov 3 16, 12_34</string>
    </array>
    <array>
      <string>Bold Nov 3 16, 12:34.background</string>
      <string>glyphs.B_old N_ov 3 16, 12_34.background</string>
    </array>
    <array>
      <string>Nov 24 16, 11:10</string>
      <string>glyphs.N_ov 24 16, 11_10</string>
    </array>
    <array>
      <string>Nov 24 16, 11:10.background</string>
      <string>glyphs.N_ov 24 16, 11_10.background</string>
    </array>
    <array>
      <string>Nov 28 16, 10:03</string>
      <string>glyphs.N_ov 28 16, 10_03</string>
    </array>
    <array>
      <string>Nov 28 16, 10:03.background</string>
      <string>glyphs.N_ov 28 16, 10_03.background</string>
    </array>
    <array>
      <string>Nov 24 16, 10:51</string>
      <string>glyphs.N_ov 24 16, 10_51</string>
    </array>
    <array>
      <string>Nov 24 16, 10:51.background</string>
      <string>glyphs.N_ov 24 16, 10_51.background</string>
    </array>
    <array>
      <string>Jan 18 17, 11:57</string>
      <string>glyphs.J_an 18 17, 11_57</string>
    </array>
    <array>
      <string>Jan 18 17, 11:57.background</string>
      <string>glyphs.J_an 18 17, 11_57.background</string>
    </array>
    <array>
      <string>Jan 18 17, 15:22</string>
      <string>glyphs.J_an 18 17, 15_22</string>
    </array>
    <array>
      <string>Jan 18 17, 15:22.background</string>
      <string>glyphs.J_an 18 17, 15_22.background</string>
    </array>
    <array>
      <string>Jan 18 17, 15:24</string>
      <string>glyphs.J_an 18 17, 15_24</string>
    </array>
    <array>
      <string>Jan 18 17, 15:24.background</string>
      <string>glyphs.J_an 18 17, 15_24.background</string>
    </array>
    <array>
      <string>Jan 18 17, 13:32</string>
      <string>glyphs.J_an 18 17, 13_32</string>
    </array>
    <array>
      <string>Jan 27 17, 15:22</string>
      <string>glyphs.J_an 27 17, 15_22</string>
    </array>
    <array>
      <string>Jan 27 17, 15:22.background</string>
      <string>glyphs.J_an 27 17, 15_22.background</string>
    </array>
    <array>
      <string>Feb 22 17, 12:38</string>
      <string>glyphs.F_eb 22 17, 12_38</string>
    </array>
    <array>
      <string>Feb 22 17, 12:38.background</string>
      <string>glyphs.F_eb 22 17, 12_38.background</string>
    </array>
    <array>
      <string>Jan 18 17, 13:14</string>
      <string>glyphs.J_an 18 17, 13_14</string>
    </array>
    <array>
      <string>Jan 18 17, 13:14.background</string>
      <string>glyphs.J_an 18 17, 13_14.background</string>
    </array>
    <array>
      <string>Jan 18 17, 13:18</string>
      <string>glyphs.J_an 18 17, 13_18</string>
    </array>
    <array>
      <string>Jan 18 17, 13:18.background</string>
      <string>glyphs.J_an 18 17, 13_18.background</string>
    </array>
    <array>
      <string>Jan 18 17, 16:59</string>
      <string>glyphs.J_an 18 17, 16_59</string>
    </array>
    <array>
      <string>Jan 18 17, 17:01</string>
      <string>glyphs.J_an 18 17, 17_01</string>
    </array>
    <array>
      <string>Mar 14 17, 17:19</string>
      <string>glyphs.M_ar 14 17, 17_19</string>
    </array>
    <array>
      <string>Mar 14 17, 17:19.background</string>
      <string>glyphs.M_ar 14 17, 17_19.background</string>
    </array>
    <array>
      <string>Mar 23 17, 18:38</string>
      <string>glyphs.M_ar 23 17, 18_38</string>
    </array>
    <array>
      <string>Mar 23 17, 18:38.background</string>
      <string>glyphs.M_ar 23 17, 18_38.background</string>
    </array>
    <array>
      <string>Mar 23 17, 18:41</string>
      <string>glyphs.M_ar 23 17, 18_41</string>
    </array>
    <array>
      <string>Mar 23 17, 18:41.background</string>
      <string>glyphs.M_ar 23 17, 18_41.background</string>
    </array>
    <array>
      <string>Mar 23 17, 18:44</string>
      <string>glyphs.M_ar 23 17, 18_44</string>
    </array>
    <array>
      <string>Mar 23 17, 18:44.background</string>
      <string>glyphs.M_ar 23 17, 18_44.background</string>
    </array>
    <array>
      <string>Mar 23 17, 18:52</string>
      <string>glyphs.M_ar 23 17, 18_52</string>
    </array>
    <array>
      <string>Mar 23 17, 18:52.background</string>
      <string>glyphs.M_ar 23 17, 18_52.background</string>
    </array>
    <array>
      <string>Mar 23 17, 19:03</string>
      <string>glyphs.M_ar 23 17, 19_03</string>
    </array>
    <array>
      <string>Mar 23 17, 19:03.background</string>
      <string>glyphs.M_ar 23 17, 19_03.background</string>
    </array>
    <array>
      <string>Mar 27 17, 10:54</string>
      <string>glyphs.M_ar 27 17, 10_54</string>
    </array>
    <array>
      <string>Mar 27 17, 10:54.background</string>
      <string>glyphs.M_ar 27 17, 10_54.background</string>
    </array>
    <array>
      <string>Mar 27 17, 18:17</string>
      <string>glyphs.M_ar 27 17, 18_17</string>
    </array>
    <array>
      <string>Mar 27 17, 18:17.background</string>
      <string>glyphs.M_ar 27 17, 18_17.background</string>
    </array>
    <array>
      <string>Nov 28 16, 16:29</string>
      <string>glyphs.N_ov 28 16, 16_29</string>
    </array>
    <array>
      <string>Nov 28 16, 16:29.background</string>
      <string>glyphs.N_ov 28 16, 16_29.background</string>
    </array>
    <array>
      <string>Feb 14 17, 08:53</string>
      <string>glyphs.F_eb 14 17, 08_53</string>
    </array>
    <array>
      <string>Feb 14 17, 08:53.background</string>
      <string>glyphs.F_eb 14 17, 08_53.background</string>
    </array>
    <array>
      <string>Feb 22 17, 18:28</string>
      <string>glyphs.F_eb 22 17, 18_28</string>
    </array>
    <array>
      <string>Feb 22 17, 18:28.background</string>
      <string>glyphs.F_eb 22 17, 18_28.background</string>
    </array>
    <array>
      <string>Feb 22 17, 18:31</string>
      <string>glyphs.F_eb 22 17, 18_31</string>
    </array>
    <array>
      <string>Feb 22 17, 18:31.background</string>
      <string>glyphs.F_eb 22 17, 18_31.background</string>
    </array>
    <array>
      <string>Nov 24 16, 12:16</string>
      <string>glyphs.N_ov 24 16, 12_16</string>
    </array>
    <array>
      <string>Nov 28 16, 16:59</string>
      <string>glyphs.N_ov 28 16, 16_59</string>
    </array>
    <array>
      <string>Nov 28 16, 16:59.background</string>
      <string>glyphs.N_ov 28 16, 16_59.background</string>
    </array>
  </array>
</plist>
