<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D1D6AEC2-C4A8-48DC-AAF1-BE57A277F5DB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
