<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B19E067B-D11D-4D44-B194-271F089B6B70</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yusbig-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
