<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B0E4A467-9A2C-4F3E-AE2C-33F9809E3D05</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hadescender-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
