<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>18653AE8-FF4E-41BB-85F4-7D3CA30DB719</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yusbig-cy</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
