<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4C6F11BC-84D4-4E14-83A4-93C648D67444</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy</key>
      <integer>16</integer>
    </dict>
  </dict>
</plist>
