<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>91CB4116-4F4F-4952-B920-0075546803DE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy.loclSRB</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
