<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>73CD39EF-B978-4386-B3E9-A6BDB7A6D742</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
