<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AA48163E-CDBF-4467-98F1-E1B96769C104</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kabashkir-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
