<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8A3A8F33-21A9-4330-8306-B74A99E168B1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
