<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3F1C26D8-1404-4D7E-981D-35F6DB260EED</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ii-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
