<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2FA2651C-2C80-4D19-B428-09CE63A9F5C9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.cond</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
