<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2CD03B79-686E-4275-A292-4C8387D6B122</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>20</integer>
    </dict>
  </dict>
</plist>
