<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0E5A0479-C8B6-4D56-A291-4B1071B3A17B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.descender-cy</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.descender-cy.alt</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
