<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>704DD847-7C0D-4631-B4DD-08DAAD09D992</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ustrait-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
