<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D1373989-9CC7-441F-AE62-2A84265B2567</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>36</integer>
    </dict>
  </dict>
</plist>
