<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>050C75B1-A789-48A6-8644-4F4FF34B8B6C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy.case</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
