<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>918BA869-2C52-4619-92D7-634D6C0C5844</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hadescender-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
