<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F51EA4E1-A250-49C1-B938-559C17201402</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
