<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F0E2CD37-144C-4F36-889C-855BB47F5BC7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>18</integer>
    </dict>
  </dict>
</plist>
