<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Nov 7 17, 10:01</string>
      <string>glyphs.N_ov 7 17, 10_01</string>
    </array>
    <array>
      <string>Nov 7 17, 10:01.background</string>
      <string>glyphs.N_ov 7 17, 10_01.background</string>
    </array>
    <array>
      <string>Nov 7 17, 10:03</string>
      <string>glyphs.N_ov 7 17, 10_03</string>
    </array>
    <array>
      <string>Nov 7 17, 10:03.background</string>
      <string>glyphs.N_ov 7 17, 10_03.background</string>
    </array>
    <array>
      <string>Nov 7 17, 11:52</string>
      <string>glyphs.N_ov 7 17, 11_52</string>
    </array>
    <array>
      <string>Nov 7 17, 11:52.background</string>
      <string>glyphs.N_ov 7 17, 11_52.background</string>
    </array>
    <array>
      <string>Nov 7 17, 11:59</string>
      <string>glyphs.N_ov 7 17, 11_59</string>
    </array>
    <array>
      <string>Nov 7 17, 11:59.background</string>
      <string>glyphs.N_ov 7 17, 11_59.background</string>
    </array>
    <array>
      <string>Regular Oct 31 16, 17:46</string>
      <string>glyphs.R_egular O_ct 31 16, 17_46</string>
    </array>
    <array>
      <string>Regular Oct 31 16, 17:49</string>
      <string>glyphs.R_egular O_ct 31 16, 17_49</string>
    </array>
    <array>
      <string>Regular Oct 31 16, 17:49.background</string>
      <string>glyphs.R_egular O_ct 31 16, 17_49.background</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 15:07</string>
      <string>glyphs.R_egular N_ov 1 16, 15_07</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 15:07.background</string>
      <string>glyphs.R_egular N_ov 1 16, 15_07.background</string>
    </array>
    <array>
      <string>Feb 24 17, 17:35</string>
      <string>glyphs.F_eb 24 17, 17_35</string>
    </array>
    <array>
      <string>Feb 24 17, 17:35.background</string>
      <string>glyphs.F_eb 24 17, 17_35.background</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 14:29</string>
      <string>glyphs.R_egular N_ov 1 16, 14_29</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 14:31</string>
      <string>glyphs.R_egular N_ov 1 16, 14_31</string>
    </array>
    <array>
      <string>corrected</string>
      <string>glyphs.corrected</string>
    </array>
    <array>
      <string>corrected.background</string>
      <string>glyphs.corrected.background</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 11:41</string>
      <string>glyphs.R_egular N_ov 1 16, 11_41</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 11:41.background</string>
      <string>glyphs.R_egular N_ov 1 16, 11_41.background</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 12:05</string>
      <string>glyphs.R_egular N_ov 1 16, 12_05</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 12:05.background</string>
      <string>glyphs.R_egular N_ov 1 16, 12_05.background</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 12:06</string>
      <string>glyphs.R_egular N_ov 1 16, 12_06</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 12:06.background</string>
      <string>glyphs.R_egular N_ov 1 16, 12_06.background</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 12:07</string>
      <string>glyphs.R_egular N_ov 1 16, 12_07</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 12:07.background</string>
      <string>glyphs.R_egular N_ov 1 16, 12_07.background</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 16:18</string>
      <string>glyphs.R_egular N_ov 1 16, 16_18</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 16:18.background</string>
      <string>glyphs.R_egular N_ov 1 16, 16_18.background</string>
    </array>
    <array>
      <string>Nov 23 16, 19:49</string>
      <string>glyphs.N_ov 23 16, 19_49</string>
    </array>
    <array>
      <string>Nov 23 16, 19:49.background</string>
      <string>glyphs.N_ov 23 16, 19_49.background</string>
    </array>
    <array>
      <string>Regular Nov 2 16, 18:57</string>
      <string>glyphs.R_egular N_ov 2 16, 18_57</string>
    </array>
    <array>
      <string>Nov 23 16, 19:51</string>
      <string>glyphs.N_ov 23 16, 19_51</string>
    </array>
    <array>
      <string>Nov 23 16, 19:51.background</string>
      <string>glyphs.N_ov 23 16, 19_51.background</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 16:01</string>
      <string>glyphs.R_egular N_ov 1 16, 16_01</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 16:01.background</string>
      <string>glyphs.R_egular N_ov 1 16, 16_01.background</string>
    </array>
    <array>
      <string>Nov 19 16, 10:10</string>
      <string>glyphs.N_ov 19 16, 10_10</string>
    </array>
    <array>
      <string>Nov 19 16, 10:10.background</string>
      <string>glyphs.N_ov 19 16, 10_10.background</string>
    </array>
    <array>
      <string>Nov 19 16, 10:26</string>
      <string>glyphs.N_ov 19 16, 10_26</string>
    </array>
    <array>
      <string>Nov 19 16, 10:26.background</string>
      <string>glyphs.N_ov 19 16, 10_26.background</string>
    </array>
    <array>
      <string>Feb 22 17, 16:26</string>
      <string>glyphs.F_eb 22 17, 16_26</string>
    </array>
    <array>
      <string>Feb 22 17, 16:26.background</string>
      <string>glyphs.F_eb 22 17, 16_26.background</string>
    </array>
    <array>
      <string>Regular Nov 2 16, 20:42</string>
      <string>glyphs.R_egular N_ov 2 16, 20_42</string>
    </array>
    <array>
      <string>Regular Nov 2 16, 20:42.background</string>
      <string>glyphs.R_egular N_ov 2 16, 20_42.background</string>
    </array>
    <array>
      <string>Nov 23 16, 20:07</string>
      <string>glyphs.N_ov 23 16, 20_07</string>
    </array>
    <array>
      <string>Nov 23 16, 20:07.background</string>
      <string>glyphs.N_ov 23 16, 20_07.background</string>
    </array>
    <array>
      <string>Nov 23 16, 20:09</string>
      <string>glyphs.N_ov 23 16, 20_09</string>
    </array>
    <array>
      <string>Nov 23 16, 20:09.background</string>
      <string>glyphs.N_ov 23 16, 20_09.background</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 10:40</string>
      <string>glyphs.R_egular N_ov 1 16, 10_40</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 10:40.background</string>
      <string>glyphs.R_egular N_ov 1 16, 10_40.background</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 15:29</string>
      <string>glyphs.R_egular N_ov 1 16, 15_29</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 15:33</string>
      <string>glyphs.R_egular N_ov 1 16, 15_33</string>
    </array>
    <array>
      <string>Regular Nov 1 16, 15:33.background</string>
      <string>glyphs.R_egular N_ov 1 16, 15_33.background</string>
    </array>
    <array>
      <string>Dec 23 16, 12:48</string>
      <string>glyphs.D_ec 23 16, 12_48</string>
    </array>
    <array>
      <string>Dec 23 16, 12:48.background</string>
      <string>glyphs.D_ec 23 16, 12_48.background</string>
    </array>
    <array>
      <string>Dec 23 16, 01:03</string>
      <string>glyphs.D_ec 23 16, 01_03</string>
    </array>
    <array>
      <string>Dec 23 16, 01:03.background</string>
      <string>glyphs.D_ec 23 16, 01_03.background</string>
    </array>
    <array>
      <string>Dec 23 16, 12:59</string>
      <string>glyphs.D_ec 23 16, 12_59</string>
    </array>
    <array>
      <string>Dec 23 16, 12:59.background</string>
      <string>glyphs.D_ec 23 16, 12_59.background</string>
    </array>
    <array>
      <string>Dec 23 16, 14:56</string>
      <string>glyphs.D_ec 23 16, 14_56</string>
    </array>
    <array>
      <string>Feb 22 17, 11:23</string>
      <string>glyphs.F_eb 22 17, 11_23</string>
    </array>
    <array>
      <string>Feb 22 17, 11:23.background</string>
      <string>glyphs.F_eb 22 17, 11_23.background</string>
    </array>
    <array>
      <string>Feb 22 17, 11:29</string>
      <string>glyphs.F_eb 22 17, 11_29</string>
    </array>
    <array>
      <string>Feb 22 17, 11:29.background</string>
      <string>glyphs.F_eb 22 17, 11_29.background</string>
    </array>
    <array>
      <string>Feb 22 17, 11:33</string>
      <string>glyphs.F_eb 22 17, 11_33</string>
    </array>
    <array>
      <string>Feb 22 17, 11:33.background</string>
      <string>glyphs.F_eb 22 17, 11_33.background</string>
    </array>
    <array>
      <string>Feb 22 17, 12:03</string>
      <string>glyphs.F_eb 22 17, 12_03</string>
    </array>
    <array>
      <string>Feb 22 17, 12:03.background</string>
      <string>glyphs.F_eb 22 17, 12_03.background</string>
    </array>
    <array>
      <string>Feb 22 17, 12:07</string>
      <string>glyphs.F_eb 22 17, 12_07</string>
    </array>
    <array>
      <string>Feb 22 17, 12:07.background</string>
      <string>glyphs.F_eb 22 17, 12_07.background</string>
    </array>
    <array>
      <string>Dec 23 16, 01:14</string>
      <string>glyphs.D_ec 23 16, 01_14</string>
    </array>
    <array>
      <string>Dec 23 16, 01:14.background</string>
      <string>glyphs.D_ec 23 16, 01_14.background</string>
    </array>
    <array>
      <string>Dec 23 16, 14:35</string>
      <string>glyphs.D_ec 23 16, 14_35</string>
    </array>
    <array>
      <string>Mar 14 17, 17:12</string>
      <string>glyphs.M_ar 14 17, 17_12</string>
    </array>
    <array>
      <string>Mar 14 17, 17:12.background</string>
      <string>glyphs.M_ar 14 17, 17_12.background</string>
    </array>
    <array>
      <string>Nov 7 17, 15:22</string>
      <string>glyphs.N_ov 7 17, 15_22</string>
    </array>
    <array>
      <string>Regular Nov 3 16, 16:31</string>
      <string>glyphs.R_egular N_ov 3 16, 16_31</string>
    </array>
    <array>
      <string>Regular Nov 3 16, 16:32</string>
      <string>glyphs.R_egular N_ov 3 16, 16_32</string>
    </array>
    <array>
      <string>Regular Nov 3 16, 16:32.background</string>
      <string>glyphs.R_egular N_ov 3 16, 16_32.background</string>
    </array>
    <array>
      <string>Nov 24 16, 11:57</string>
      <string>glyphs.N_ov 24 16, 11_57</string>
    </array>
    <array>
      <string>Nov 24 16, 11:57.background</string>
      <string>glyphs.N_ov 24 16, 11_57.background</string>
    </array>
    <array>
      <string>Nov 24 16, 10:17</string>
      <string>glyphs.N_ov 24 16, 10_17</string>
    </array>
    <array>
      <string>Nov 24 16, 10:17.background</string>
      <string>glyphs.N_ov 24 16, 10_17.background</string>
    </array>
    <array>
      <string>Nov 24 16, 10:04</string>
      <string>glyphs.N_ov 24 16, 10_04</string>
    </array>
    <array>
      <string>Nov 24 16, 10:04.background</string>
      <string>glyphs.N_ov 24 16, 10_04.background</string>
    </array>
    <array>
      <string>Nov 17 16, 18:08</string>
      <string>glyphs.N_ov 17 16, 18_08</string>
    </array>
    <array>
      <string>Regular Nov 3 16, 12:23</string>
      <string>glyphs.R_egular N_ov 3 16, 12_23</string>
    </array>
    <array>
      <string>Regular Nov 3 16, 12:23.background</string>
      <string>glyphs.R_egular N_ov 3 16, 12_23.background</string>
    </array>
    <array>
      <string>Regular Nov 3 16, 12:33</string>
      <string>glyphs.R_egular N_ov 3 16, 12_33</string>
    </array>
    <array>
      <string>Regular Nov 3 16, 12:33.background</string>
      <string>glyphs.R_egular N_ov 3 16, 12_33.background</string>
    </array>
    <array>
      <string>Nov 24 16, 11:06</string>
      <string>glyphs.N_ov 24 16, 11_06</string>
    </array>
    <array>
      <string>Nov 24 16, 11:06.background</string>
      <string>glyphs.N_ov 24 16, 11_06.background</string>
    </array>
    <array>
      <string>Nov 24 16, 11:25</string>
      <string>glyphs.N_ov 24 16, 11_25</string>
    </array>
    <array>
      <string>Nov 24 16, 11:25.background</string>
      <string>glyphs.N_ov 24 16, 11_25.background</string>
    </array>
    <array>
      <string>Nov 28 16, 10:03</string>
      <string>glyphs.N_ov 28 16, 10_03</string>
    </array>
    <array>
      <string>Nov 28 16, 10:03.background</string>
      <string>glyphs.N_ov 28 16, 10_03.background</string>
    </array>
    <array>
      <string>Nov 24 16, 10:50</string>
      <string>glyphs.N_ov 24 16, 10_50</string>
    </array>
    <array>
      <string>Nov 24 16, 10:50.background</string>
      <string>glyphs.N_ov 24 16, 10_50.background</string>
    </array>
    <array>
      <string>Nov 24 16, 10:56</string>
      <string>glyphs.N_ov 24 16, 10_56</string>
    </array>
    <array>
      <string>Nov 24 16, 10:56.background</string>
      <string>glyphs.N_ov 24 16, 10_56.background</string>
    </array>
    <array>
      <string>Jan 18 17, 12:04</string>
      <string>glyphs.J_an 18 17, 12_04</string>
    </array>
    <array>
      <string>Jan 18 17, 12:07</string>
      <string>glyphs.J_an 18 17, 12_07</string>
    </array>
    <array>
      <string>Jan 18 17, 12:07.background</string>
      <string>glyphs.J_an 18 17, 12_07.background</string>
    </array>
    <array>
      <string>Jan 18 17, 15:22</string>
      <string>glyphs.J_an 18 17, 15_22</string>
    </array>
    <array>
      <string>Jan 18 17, 13:32</string>
      <string>glyphs.J_an 18 17, 13_32</string>
    </array>
    <array>
      <string>Jan 27 17, 15:22</string>
      <string>glyphs.J_an 27 17, 15_22</string>
    </array>
    <array>
      <string>Jan 27 17, 15:22.background</string>
      <string>glyphs.J_an 27 17, 15_22.background</string>
    </array>
    <array>
      <string>Feb 22 17, 12:38</string>
      <string>glyphs.F_eb 22 17, 12_38</string>
    </array>
    <array>
      <string>Feb 22 17, 12:38.background</string>
      <string>glyphs.F_eb 22 17, 12_38.background</string>
    </array>
    <array>
      <string>Jan 18 17, 13:14</string>
      <string>glyphs.J_an 18 17, 13_14</string>
    </array>
    <array>
      <string>Jan 18 17, 13:14.background</string>
      <string>glyphs.J_an 18 17, 13_14.background</string>
    </array>
    <array>
      <string>Jan 18 17, 16:59</string>
      <string>glyphs.J_an 18 17, 16_59</string>
    </array>
    <array>
      <string>Jan 18 17, 16:59.background</string>
      <string>glyphs.J_an 18 17, 16_59.background</string>
    </array>
    <array>
      <string>Jan 18 17, 17:01</string>
      <string>glyphs.J_an 18 17, 17_01</string>
    </array>
    <array>
      <string>Jan 18 17, 17:01.background</string>
      <string>glyphs.J_an 18 17, 17_01.background</string>
    </array>
    <array>
      <string>Mar 23 17, 18:38</string>
      <string>glyphs.M_ar 23 17, 18_38</string>
    </array>
    <array>
      <string>Mar 23 17, 18:38.background</string>
      <string>glyphs.M_ar 23 17, 18_38.background</string>
    </array>
    <array>
      <string>Mar 23 17, 18:44</string>
      <string>glyphs.M_ar 23 17, 18_44</string>
    </array>
    <array>
      <string>Mar 23 17, 18:44.background</string>
      <string>glyphs.M_ar 23 17, 18_44.background</string>
    </array>
    <array>
      <string>Mar 23 17, 18:51</string>
      <string>glyphs.M_ar 23 17, 18_51</string>
    </array>
    <array>
      <string>Mar 23 17, 18:51.background</string>
      <string>glyphs.M_ar 23 17, 18_51.background</string>
    </array>
    <array>
      <string>Mar 23 17, 19:03</string>
      <string>glyphs.M_ar 23 17, 19_03</string>
    </array>
    <array>
      <string>Mar 23 17, 19:03.background</string>
      <string>glyphs.M_ar 23 17, 19_03.background</string>
    </array>
    <array>
      <string>Mar 27 17, 10:54</string>
      <string>glyphs.M_ar 27 17, 10_54</string>
    </array>
    <array>
      <string>Mar 27 17, 10:54.background</string>
      <string>glyphs.M_ar 27 17, 10_54.background</string>
    </array>
    <array>
      <string>Mar 27 17, 11:02</string>
      <string>glyphs.M_ar 27 17, 11_02</string>
    </array>
    <array>
      <string>Mar 27 17, 11:02.background</string>
      <string>glyphs.M_ar 27 17, 11_02.background</string>
    </array>
    <array>
      <string>Mar 27 17, 18:10</string>
      <string>glyphs.M_ar 27 17, 18_10</string>
    </array>
    <array>
      <string>Mar 27 17, 18:10.background</string>
      <string>glyphs.M_ar 27 17, 18_10.background</string>
    </array>
    <array>
      <string>Nov 28 16, 16:29</string>
      <string>glyphs.N_ov 28 16, 16_29</string>
    </array>
    <array>
      <string>Nov 28 16, 16:29.background</string>
      <string>glyphs.N_ov 28 16, 16_29.background</string>
    </array>
    <array>
      <string>Feb 14 17, 08:53</string>
      <string>glyphs.F_eb 14 17, 08_53</string>
    </array>
    <array>
      <string>Feb 14 17, 08:53.background</string>
      <string>glyphs.F_eb 14 17, 08_53.background</string>
    </array>
    <array>
      <string>Jan 18 17, 18:14</string>
      <string>glyphs.J_an 18 17, 18_14</string>
    </array>
    <array>
      <string>Jan 18 17, 18:14.background</string>
      <string>glyphs.J_an 18 17, 18_14.background</string>
    </array>
    <array>
      <string>Feb 22 17, 18:28</string>
      <string>glyphs.F_eb 22 17, 18_28</string>
    </array>
    <array>
      <string>Feb 22 17, 18:28.background</string>
      <string>glyphs.F_eb 22 17, 18_28.background</string>
    </array>
    <array>
      <string>Nov 28 16, 16:59</string>
      <string>glyphs.N_ov 28 16, 16_59</string>
    </array>
    <array>
      <string>Nov 28 16, 16:59.background</string>
      <string>glyphs.N_ov 28 16, 16_59.background</string>
    </array>
  </array>
</plist>
