<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>68E2D94C-9771-40D4-8684-5D438BA5FC28</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
