<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D95DBF25-30EF-43CF-80A1-FE1606D2AE0A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
