<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C42B5F3B-0306-4B17-A68E-76D14053EDC8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>16</integer>
    </dict>
  </dict>
</plist>
