<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>046ED6C7-654C-45D0-B0B2-8413BB576531</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Entail-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
