<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>64ACB1EC-4554-4FF6-B65B-F6BEC2AD8B16</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
