<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3A966307-C9B9-4048-A404-F259F798C715</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.entail-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.entail-cy.001</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
