<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>746BF6B6-6A61-4BD8-BC4A-99999756269F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
