<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B63674D9-FEB8-4A00-B74F-4FC511C6E62F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
