<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D2178B94-5D94-4C98-A6FA-0704265812A0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
