<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6D55C1AF-4BAF-4FC6-BF1E-ACB5B052E317</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yat-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
