<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>51B1A90B-65F0-435A-81BC-102B375397D2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yusbig-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
