<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4AE89269-AE62-4C01-8880-8EC83F4F9831</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yat-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
