<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E3B46534-7B43-4E3A-AA38-B43B5FB6DF3D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
