<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3EE7FBDF-254F-4E3F-B56F-62C26000F765</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ereversed-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
