<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>77931FE3-D90B-45FC-9F61-8FFD22B910EA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.entail-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.entail-cy.001</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
