<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>56239FD0-AFCF-4661-A1DF-46177C8C046C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
