<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>01834416-67D1-4D96-A3A1-F2C1553E5D1D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.descender-cy</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.descender-cy.alt</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
