<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FB4AF850-85BB-41BB-8F8B-C4E52AA865F8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Che-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
