<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>Abreveacute</key>
    <string>A_breveacute.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>Ahookabove</key>
    <string>A_hookabove.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Chekhakassian-cy</key>
    <string>C_hekhakassian-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.ss01</key>
    <string>D_.ss01.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Delta.sups</key>
    <string>D_elta.sups.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Enghe-cy</key>
    <string>E_nghe-cy.glif</string>
    <key>Entail-cy</key>
    <string>E_ntail-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Es-cy</key>
    <string>E_s-cy.glif</string>
    <key>Esdescender-cy</key>
    <string>E_sdescender-cy.glif</string>
    <key>Etapsiliprosgegrammeni.ss05</key>
    <string>E_tapsiliprosgegrammeni.ss05.glif</string>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Fita-cy</key>
    <string>F_ita-cy.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>Gamma.sups</key>
    <string>G_amma.sups.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Gedescender-cy</key>
    <string>G_edescender-cy.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Ghestroke-cy</key>
    <string>G_hestroke-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Gstroke</key>
    <string>G_stroke.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hadescender-cy</key>
    <string>H_adescender-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.ss01</key>
    <string>I_.ss01.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kabashkir-cy</key>
    <string>K_abashkir-cy.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>KaiSymbol</key>
    <string>K_aiS_ymbol.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.ss01</key>
    <string>M_.ss01.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omega.sups</key>
    <string>O_mega.sups.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Oslashacute.BRACKET.120</key>
    <string>O_slashacute.B_R_A_C_K_E_T_.120.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Phi.sups</key>
    <string>P_hi.sups.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Pi.sups</key>
    <string>P_i.sups.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Psi.sups</key>
    <string>P_si.sups.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Saltillo</key>
    <string>S_altillo.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Shha-cy</key>
    <string>S_hha-cy.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Sigma.sups</key>
    <string>S_igma.sups.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>Softsign-cy.cond</key>
    <string>S_oftsign-cy.cond.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T_h.liga</key>
    <string>T__h.liga.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>Theta.sups</key>
    <string>T_heta.sups.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Upsilon</key>
    <string>U_psilon.glif</string>
    <key>Upsilon.sups</key>
    <string>U_psilon.sups.glif</string>
    <key>Ustraitstroke-cy</key>
    <string>U_straitstroke-cy.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.ss01</key>
    <string>V_.ss01.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.ss01</key>
    <string>X_.ss01.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>Xi.sups</key>
    <string>X_i.sups.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>_part.seriflessh</key>
    <string>_part.seriflessh.glif</string>
    <key>_part.toplesst</key>
    <string>_part.toplesst.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.sc</key>
    <string>a.sc.glif</string>
    <key>a.sups</key>
    <string>a.sups.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>alpha.sups</key>
    <string>alpha.sups.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>areas</key>
    <string>areas.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>b.sups</key>
    <string>b.sups.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>beta.sups</key>
    <string>beta.sups.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>brevecomb-cy.case</key>
    <string>brevecomb-cy.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecomb_acutecomb</key>
    <string>brevecomb_acutecomb.glif</string>
    <key>brevecomb_gravecomb</key>
    <string>brevecomb_gravecomb.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>brevecomb_tildecomb</key>
    <string>brevecomb_tildecomb.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.sc</key>
    <string>c.sc.glif</string>
    <key>c.ss01</key>
    <string>c.ss01.glif</string>
    <key>c.sups</key>
    <string>c.sups.glif</string>
    <key>c_h</key>
    <string>c_h.glif</string>
    <key>c_t</key>
    <string>c_t.glif</string>
    <key>caron.alt</key>
    <string>caron.alt.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>chi.sups</key>
    <string>chi.sups.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcomb_acutecomb</key>
    <string>circumflexcomb_acutecomb.glif</string>
    <key>circumflexcomb_gravecomb</key>
    <string>circumflexcomb_gravecomb.glif</string>
    <key>circumflexcomb_hookabovecomb</key>
    <string>circumflexcomb_hookabovecomb.glif</string>
    <key>circumflexcomb_tildecomb</key>
    <string>circumflexcomb_tildecomb.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commercialMinusSign</key>
    <string>commercialM_inusS_ign.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>d.ss01</key>
    <string>d.ss01.glif</string>
    <key>d.sups</key>
    <string>d.sups.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dasia</key>
    <string>dasia.glif</string>
    <key>dasia.case</key>
    <string>dasia.case.glif</string>
    <key>dasiaoxia</key>
    <string>dasiaoxia.glif</string>
    <key>dasiaperispomeni</key>
    <string>dasiaperispomeni.glif</string>
    <key>dasiaperispomeni.case</key>
    <string>dasiaperispomeni.case.glif</string>
    <key>dasiavaria</key>
    <string>dasiavaria.glif</string>
    <key>dasiavaria.case</key>
    <string>dasiavaria.case.glif</string>
    <key>dblgravecomb.case</key>
    <string>dblgravecomb.case.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>delta.sc</key>
    <string>delta.sc.glif</string>
    <key>delta.sups</key>
    <string>delta.sups.glif</string>
    <key>descender-cy</key>
    <string>descender-cy.glif</string>
    <key>descender-cy.alt</key>
    <string>descender-cy.alt.glif</string>
    <key>descender-cy.case</key>
    <string>descender-cy.case.glif</string>
    <key>dialytikaoxia</key>
    <string>dialytikaoxia.glif</string>
    <key>dialytikaperispomeni</key>
    <string>dialytikaperispomeni.glif</string>
    <key>dialytikatonoscomb</key>
    <string>dialytikatonoscomb.glif</string>
    <key>dialytikavaria</key>
    <string>dialytikavaria.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscomb.i</key>
    <string>dieresiscomb.i.glif</string>
    <key>dieresiscomb_acutecomb</key>
    <string>dieresiscomb_acutecomb.glif</string>
    <key>dieresiscomb_acutecomb.case</key>
    <string>dieresiscomb_acutecomb.case.glif</string>
    <key>dieresiscomb_caroncomb</key>
    <string>dieresiscomb_caroncomb.glif</string>
    <key>dieresiscomb_gravecomb</key>
    <string>dieresiscomb_gravecomb.glif</string>
    <key>dieresiscomb_macroncomb</key>
    <string>dieresiscomb_macroncomb.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>dzhe-cy.sc</key>
    <string>dzhe-cy.sc.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>e.sc</key>
    <string>e.sc.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eng.sc</key>
    <string>eng.sc.glif</string>
    <key>enghe-cy</key>
    <string>enghe-cy.glif</string>
    <key>entail-cy</key>
    <string>entail-cy.glif</string>
    <key>entail-cy.001</key>
    <string>entail-cy.001.glif</string>
    <key>entail-cy.sc</key>
    <string>entail-cy.sc.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>epsilon.sups</key>
    <string>epsilon.sups.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>eta.sups</key>
    <string>eta.sups.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.sc</key>
    <string>exclam.sc.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>ezh</key>
    <string>ezh.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.f</key>
    <string>f.f.glif</string>
    <key>f.l</key>
    <string>f.l.glif</string>
    <key>f.sc</key>
    <string>f.sc.glif</string>
    <key>f.sups</key>
    <string>f.sups.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.sc</key>
    <string>g.sc.glif</string>
    <key>g.sups</key>
    <string>g.sups.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>gamma.sc</key>
    <string>gamma.sc.glif</string>
    <key>gamma.sups</key>
    <string>gamma.sups.glif</string>
    <key>gamma_gamma</key>
    <string>gamma_gamma.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>germandbls.sc</key>
    <string>germandbls.sc.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>ghestroke-cy.loclBSH</key>
    <string>ghestroke-cy.loclB_S_H_.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>gstroke</key>
    <string>gstroke.glif</string>
    <key>gstroke.sc</key>
    <string>gstroke.sc.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.sc</key>
    <string>h.sc.glif</string>
    <key>h.sups</key>
    <string>h.sups.glif</string>
    <key>hadescender-cy</key>
    <string>hadescender-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>i.ss01</key>
    <string>i.ss01.glif</string>
    <key>i.sups</key>
    <string>i.sups.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>idotless.sc</key>
    <string>idotless.sc.glif</string>
    <key>idotless.serifless</key>
    <string>idotless.serifless.glif</string>
    <key>idotless.serifless2</key>
    <string>idotless.serifless2.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>iota.sups</key>
    <string>iota.sups.glif</string>
    <key>iotatonos</key>
    <string>iotatonos.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.sc</key>
    <string>j.sc.glif</string>
    <key>j.sups</key>
    <string>j.sups.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>jdotless.sc</key>
    <string>jdotless.sc.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>k.sups</key>
    <string>k.sups.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kabashkir-cy</key>
    <string>kabashkir-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kaiSymbol</key>
    <string>kaiS_ymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>kappa.sups</key>
    <string>kappa.sups.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>kgreenlandic.sc</key>
    <string>kgreenlandic.sc.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.sc</key>
    <string>l.sc.glif</string>
    <key>l.ss01</key>
    <string>l.ss01.glif</string>
    <key>l.sups</key>
    <string>l.sups.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lambda.sups</key>
    <string>lambda.sups.glif</string>
    <key>lambda_lambda</key>
    <string>lambda_lambda.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>leftRightArrow</key>
    <string>leftR_ightA_rrow.glif</string>
    <key>leftanglebracket-math</key>
    <string>leftanglebracket-math.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>longs</key>
    <string>longs.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.sc</key>
    <string>m.sc.glif</string>
    <key>m.ss01</key>
    <string>m.ss01.glif</string>
    <key>m.sups</key>
    <string>m.sups.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>macroncomb_gravecomb.case</key>
    <string>macroncomb_gravecomb.case.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>mu.sups</key>
    <string>mu.sups.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>n.sups</key>
    <string>n.sups.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>northEastArrow</key>
    <string>northE_astA_rrow.glif</string>
    <key>northWestArrow</key>
    <string>northW_estA_rrow.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>nu.sc</key>
    <string>nu.sc.glif</string>
    <key>nu.sups</key>
    <string>nu.sups.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>o.sups</key>
    <string>o.sups.glif</string>
    <key>oe.sc</key>
    <string>oe.sc.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>omega.sc</key>
    <string>omega.sc.glif</string>
    <key>omega.sups</key>
    <string>omega.sups.glif</string>
    <key>omicron</key>
    <string>omicron.glif</string>
    <key>omicron.sups</key>
    <string>omicron.sups.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>onedotenleader</key>
    <string>onedotenleader.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>oogonek.sc</key>
    <string>oogonek.sc.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>oslashacute.BRACKET.120</key>
    <string>oslashacute.B_R_A_C_K_E_T_.120.glif</string>
    <key>oslashacute.sc</key>
    <string>oslashacute.sc.glif</string>
    <key>oslashacute.sc.BRACKET.120</key>
    <string>oslashacute.sc.B_R_A_C_K_E_T_.120.glif</string>
    <key>oxia</key>
    <string>oxia.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.sc</key>
    <string>p.sc.glif</string>
    <key>p.sups</key>
    <string>p.sups.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>pedescender-cy.sc</key>
    <string>pedescender-cy.sc.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>phi.sc</key>
    <string>phi.sc.glif</string>
    <key>phi.sups</key>
    <string>phi.sups.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>pi.sc</key>
    <string>pi.sc.glif</string>
    <key>pi.sups</key>
    <string>pi.sups.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>prosgegrammeni</key>
    <string>prosgegrammeni.glif</string>
    <key>prosgegrammeni.sc</key>
    <string>prosgegrammeni.sc.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>psi.sc</key>
    <string>psi.sc.glif</string>
    <key>psi.sups</key>
    <string>psi.sups.glif</string>
    <key>psili</key>
    <string>psili.glif</string>
    <key>psili.case</key>
    <string>psili.case.glif</string>
    <key>psiliperispomeni</key>
    <string>psiliperispomeni.glif</string>
    <key>psiliperispomeni.case</key>
    <string>psiliperispomeni.case.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>q.sups</key>
    <string>q.sups.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.sc</key>
    <string>question.sc.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>r.sups</key>
    <string>r.sups.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>rho.sups</key>
    <string>rho.sups.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>s.sups</key>
    <string>s.sups.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>saltillo</key>
    <string>saltillo.glif</string>
    <key>schwa.sc</key>
    <string>schwa.sc.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>sigma.sc</key>
    <string>sigma.sc.glif</string>
    <key>sigma.sups</key>
    <string>sigma.sups.glif</string>
    <key>sigmafinal</key>
    <string>sigmafinal.glif</string>
    <key>sigmafinal.sups</key>
    <string>sigmafinal.sups.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>softsign-cy.cond</key>
    <string>softsign-cy.cond.glif</string>
    <key>softsign-cy.cond.sc</key>
    <string>softsign-cy.cond.sc.glif</string>
    <key>southEastArrow</key>
    <string>southE_astA_rrow.glif</string>
    <key>southWestArrow</key>
    <string>southW_estA_rrow.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.sc</key>
    <string>t.sc.glif</string>
    <key>t.sups</key>
    <string>t.sups.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>tau.sups</key>
    <string>tau.sups.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>theta.sc</key>
    <string>theta.sc.glif</string>
    <key>theta.sups</key>
    <string>theta.sups.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb_dieresiscomb.case</key>
    <string>tildecomb_dieresiscomb.case.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tugrik</key>
    <string>tugrik.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>twodotenleader</key>
    <string>twodotenleader.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.sups</key>
    <string>u.sups.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhorn.sc</key>
    <string>uhorn.sc.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uogonek.sc</key>
    <string>uogonek.sc.glif</string>
    <key>upArrow</key>
    <string>upA_rrow.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>upsilon.sc</key>
    <string>upsilon.sc.glif</string>
    <key>upsilon.sups</key>
    <string>upsilon.sups.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.sc</key>
    <string>v.sc.glif</string>
    <key>v.ss01</key>
    <string>v.ss01.glif</string>
    <key>v.sups</key>
    <string>v.sups.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.sc</key>
    <string>w.sc.glif</string>
    <key>w.sups</key>
    <string>w.sups.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.sc</key>
    <string>x.sc.glif</string>
    <key>x.ss01</key>
    <string>x.ss01.glif</string>
    <key>x.sups</key>
    <string>x.sups.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>xi.sc</key>
    <string>xi.sc.glif</string>
    <key>xi.sups</key>
    <string>xi.sups.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.sc</key>
    <string>y.sc.glif</string>
    <key>y.sups</key>
    <string>y.sups.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ypogegrammenicomb</key>
    <string>ypogegrammenicomb.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z.sc</key>
    <string>z.sc.glif</string>
    <key>z.sups</key>
    <string>z.sups.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zedescender-cy.sc</key>
    <string>zedescender-cy.sc.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zeta.sups</key>
    <string>zeta.sups.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
