<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>10813A76-0D0E-4CBD-9C44-B367BC3919BF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
