<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F12E3EC0-F4D4-47CC-90D4-839CE2DD92A1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>20</integer>
    </dict>
  </dict>
</plist>
