<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C591F4A2-8F3C-4FE2-9BD4-6C97ECA22E9A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy.loclSRB</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
