<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>660F5F05-F4DB-4C7F-B598-7863D5A1EF31</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
