<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CDE6861D-9512-4FF7-A9FA-4EFF4AE594FE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kadescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstroke-cy</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
