<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
  </dict>
</plist>
