<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A70BB9D6-678D-46A9-B0EF-113516B542C4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
