<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7E0D8434-ECCE-4338-A02B-1BA7B7803102</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
