<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FF6166AF-9AE9-4ABF-9FC4-B4C16F92FBC8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>17</integer>
    </dict>
  </dict>
</plist>
