<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B85B6182-F5AA-4815-AEFD-E26FF9DA5D1D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hryvnia</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
