<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>42AC8AF7-8459-41DC-B2DD-E0D2F01067B1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.U-cy</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
