<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7988E96E-3943-4A23-B1C8-C51692297850</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.cond</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
