<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9C8B8CEA-ED3B-4991-BE7D-59791EE1CF86</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.em-cy</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
