<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5E73F541-213A-41D4-A9A4-C4B84C9134DC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
