<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>344828F9-A644-42F1-A14B-AD96844644F5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.izhitsa-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
