<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>60BB3EF8-4A20-4AA0-BA26-A3028AC5840D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
