<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-70</integer>
      <key>public.kern2.El-cy</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-17</integer>
      <key>public.kern2.Phi</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-42</integer>
      <key>public.kern2.U</key>
      <integer>-30</integer>
      <key>public.kern2.U-cy</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.alpha</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>-80</integer>
      <key>public.kern2.chi</key>
      <integer>-20</integer>
      <key>public.kern2.epsilon</key>
      <integer>-10</integer>
      <key>public.kern2.gamma</key>
      <integer>-30</integer>
      <key>public.kern2.h</key>
      <integer>10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.iota</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.nu</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.omega</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>10</integer>
      <key>public.kern2.pi</key>
      <integer>-20</integer>
      <key>public.kern2.rho</key>
      <integer>-10</integer>
      <key>public.kern2.theta</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.upsilon</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <integer>30</integer>
      <key>public.kern2.xi</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.A.sups</key>
    <dict>
      <key>public.kern2.O.sups</key>
      <integer>-12</integer>
      <key>public.kern2.Phi.sups</key>
      <integer>-36</integer>
      <key>public.kern2.T.sups</key>
      <integer>-30</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-43</integer>
      <key>public.kern2.chi.sups</key>
      <integer>-14</integer>
      <key>public.kern2.gamma.sups</key>
      <integer>-22</integer>
      <key>public.kern2.iota.sups</key>
      <integer>-14</integer>
      <key>public.kern2.n.sups</key>
      <integer>-14</integer>
      <key>public.kern2.nu.sups</key>
      <integer>-22</integer>
      <key>public.kern2.o.sups</key>
      <integer>-18</integer>
      <key>public.kern2.omega.sups</key>
      <integer>-14</integer>
      <key>public.kern2.p.sups</key>
      <integer>-14</integer>
      <key>public.kern2.pi.sups</key>
      <integer>-14</integer>
      <key>public.kern2.theta.sups</key>
      <integer>-14</integer>
      <key>public.kern2.upsilon.sups</key>
      <integer>-29</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.B.sups</key>
    <dict>
      <key>public.kern2.Y.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.h</key>
      <integer>10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-19</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Dje-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.Omega</key>
      <integer>-10</integer>
      <key>public.kern2.Phi</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.alpha</key>
      <integer>-20</integer>
      <key>public.kern2.chi</key>
      <integer>-10</integer>
      <key>public.kern2.epsilon</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.gamma</key>
      <integer>-30</integer>
      <key>public.kern2.h</key>
      <integer>10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.omega</key>
      <integer>-10</integer>
      <key>public.kern2.pi</key>
      <integer>-10</integer>
      <key>public.kern2.rho</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-19</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.E.sups</key>
    <dict>
      <key>public.kern2.Phi.sups</key>
      <integer>-29</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-14</integer>
      <key>public.kern2.alpha.sups</key>
      <integer>-14</integer>
      <key>public.kern2.gamma.sups</key>
      <integer>-22</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-58</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>29</integer>
      <key>public.kern2.h</key>
      <integer>19</integer>
      <key>public.kern2.hyphen</key>
      <integer>-58</integer>
      <key>public.kern2.n</key>
      <integer>-19</integer>
      <key>public.kern2.o</key>
      <integer>-49</integer>
      <key>public.kern2.period</key>
      <integer>-97</integer>
      <key>public.kern2.s</key>
      <integer>-29</integer>
      <key>public.kern2.u</key>
      <integer>-19</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-19</integer>
      <key>public.kern2.h</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-19</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.p</key>
      <integer>-19</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-19</integer>
    </dict>
    <key>public.kern1.Gamma</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.El-cy</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.Omega</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
      <key>public.kern2.alpha</key>
      <integer>-40</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.chi</key>
      <integer>-20</integer>
      <key>public.kern2.epsilon</key>
      <integer>-20</integer>
      <key>public.kern2.gamma</key>
      <integer>-10</integer>
      <key>public.kern2.lambda</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.nu</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.omega</key>
      <integer>-30</integer>
      <key>public.kern2.p</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-110</integer>
      <key>public.kern2.pi</key>
      <integer>-30</integer>
      <key>public.kern2.rho</key>
      <integer>-40</integer>
      <key>public.kern2.upsilon</key>
      <integer>-10</integer>
      <key>public.kern2.xi</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.Gamma.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-43</integer>
      <key>public.kern2.Omega.sups</key>
      <integer>-29</integer>
      <key>public.kern2.alpha.sups</key>
      <integer>-29</integer>
      <key>public.kern2.chi.sups</key>
      <integer>-14</integer>
      <key>public.kern2.epsilon.sups</key>
      <integer>-14</integer>
      <key>public.kern2.o.sups</key>
      <integer>-29</integer>
      <key>public.kern2.omega.sups</key>
      <integer>-22</integer>
      <key>public.kern2.p.sups</key>
      <integer>-22</integer>
      <key>public.kern2.pi.sups</key>
      <integer>-22</integer>
      <key>public.kern2.rho.sups</key>
      <integer>-29</integer>
      <key>public.kern2.xi.sups</key>
      <integer>14</integer>
    </dict>
    <key>public.kern1.Ge-cy</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.El-cy</key>
      <integer>-40</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.U-cy</key>
      <integer>10</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.Ghemiddlehook-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.h</key>
      <integer>40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.H.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-14</integer>
      <key>public.kern2.h.sups</key>
      <integer>29</integer>
      <key>public.kern2.o.sups</key>
      <integer>-14</integer>
      <key>public.kern2.p.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.h</key>
      <integer>40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <integer>-15</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-49</integer>
      <key>public.kern2.U</key>
      <integer>-19</integer>
      <key>public.kern2.V</key>
      <integer>-58</integer>
      <key>public.kern2.Y</key>
      <integer>-87</integer>
      <key>public.kern2.asterisk</key>
      <integer>-97</integer>
      <key>public.kern2.v</key>
      <integer>-19</integer>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.M.sups</key>
    <dict>
      <key>public.kern2.Y.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-17</integer>
      <key>public.kern2.El-cy</key>
      <integer>-20</integer>
      <key>public.kern2.Ereversed-cy</key>
      <integer>-10</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>-10</integer>
      <key>public.kern2.U-cy</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-17</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.O.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-12</integer>
      <key>public.kern2.X.sups</key>
      <integer>-12</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.Omega</key>
    <dict>
      <key>public.kern2.Xi</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.nu</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Omega.sups</key>
    <dict>
      <key>public.kern2.Y.sups</key>
      <integer>-36</integer>
      <key>public.kern2.nu.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>17</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.v</key>
      <integer>29</integer>
    </dict>
    <key>public.kern1.P.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-36</integer>
      <key>public.kern2.T.sups</key>
      <integer>12</integer>
      <key>public.kern2.o.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.Phi</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.X</key>
      <integer>-60</integer>
      <key>public.kern2.Xi</key>
      <integer>-20</integer>
      <key>public.kern2.nu</key>
      <integer>10</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Phi.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-36</integer>
      <key>public.kern2.X.sups</key>
      <integer>-43</integer>
      <key>public.kern2.Xi.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-29</integer>
      <key>public.kern2.Y</key>
      <integer>-39</integer>
      <key>public.kern2.asterisk</key>
      <integer>-19</integer>
      <key>public.kern2.hyphen</key>
      <integer>-39</integer>
      <key>public.kern2.o</key>
      <integer>-29</integer>
      <key>public.kern2.p</key>
      <integer>-19</integer>
      <key>public.kern2.period</key>
      <integer>19</integer>
      <key>public.kern2.v</key>
      <integer>-19</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-19</integer>
      <key>public.kern2.v</key>
      <integer>-19</integer>
    </dict>
    <key>public.kern1.Shha-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-90</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U-cy</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.asterisk</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.Softsign-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-80</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U-cy</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-42</integer>
      <key>public.kern2.El-cy</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.asterisk</key>
      <integer>30</integer>
      <key>public.kern2.h</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-70</integer>
      <key>public.kern2.n</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.p</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>20</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.x</key>
      <integer>20</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.T.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-30</integer>
      <key>public.kern2.h.sups</key>
      <integer>14</integer>
      <key>public.kern2.o.sups</key>
      <integer>-22</integer>
      <key>public.kern2.p.sups</key>
      <integer>14</integer>
    </dict>
    <key>public.kern1.Tshe-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-29</integer>
      <key>public.kern2.hyphen</key>
      <integer>-29</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-49</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.M</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.Phi</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.h</key>
      <integer>10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.p</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-17</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.p</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>-19</integer>
      <key>public.kern2.v</key>
      <integer>-39</integer>
    </dict>
    <key>public.kern1.X.sups</key>
    <dict>
      <key>public.kern2.O.sups</key>
      <integer>-12</integer>
      <key>public.kern2.o.sups</key>
      <integer>-29</integer>
      <key>public.kern2.p.sups</key>
      <integer>-29</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>-40</integer>
      <key>public.kern2.M</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.Omega</key>
      <integer>-50</integer>
      <key>public.kern2.Phi</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>10</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-70</integer>
      <key>public.kern2.alpha</key>
      <integer>-50</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.epsilon</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.gamma</key>
      <integer>-20</integer>
      <key>public.kern2.h</key>
      <integer>10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-100</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.nu</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.omega</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <integer>-70</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.pi</key>
      <integer>-40</integer>
      <key>public.kern2.rho</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.upsilon</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.x</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.Y.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-43</integer>
      <key>public.kern2.M.sups</key>
      <integer>-14</integer>
      <key>public.kern2.O.sups</key>
      <integer>-36</integer>
      <key>public.kern2.Omega.sups</key>
      <integer>-36</integer>
      <key>public.kern2.Phi.sups</key>
      <integer>-36</integer>
      <key>public.kern2.X.sups</key>
      <integer>-22</integer>
      <key>public.kern2.alpha.sups</key>
      <integer>-36</integer>
      <key>public.kern2.epsilon.sups</key>
      <integer>-29</integer>
      <key>public.kern2.gamma.sups</key>
      <integer>-14</integer>
      <key>public.kern2.n.sups</key>
      <integer>-43</integer>
      <key>public.kern2.nu.sups</key>
      <integer>-29</integer>
      <key>public.kern2.o.sups</key>
      <integer>-58</integer>
      <key>public.kern2.omega.sups</key>
      <integer>-14</integer>
      <key>public.kern2.p.sups</key>
      <integer>-50</integer>
      <key>public.kern2.pi.sups</key>
      <integer>-29</integer>
      <key>public.kern2.rho.sups</key>
      <integer>-29</integer>
      <key>public.kern2.upsilon.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.Yat-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>20</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.alpha</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Xi</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.alpha.sups</key>
    <dict>
      <key>public.kern2.Y.sups</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.asterisk</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>30</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>30</integer>
      <key>public.kern2.V</key>
      <integer>20</integer>
      <key>public.kern2.X</key>
      <integer>20</integer>
      <key>public.kern2.el-cy</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.xi</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.beta</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.h</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.chi</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.Xi</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
      <key>public.kern2.gamma</key>
      <integer>-10</integer>
      <key>public.kern2.iota</key>
      <integer>-10</integer>
      <key>public.kern2.lambda</key>
      <integer>-40</integer>
      <key>public.kern2.nu</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.theta</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.chi.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-14</integer>
      <key>public.kern2.lambda.sups</key>
      <integer>-29</integer>
      <key>public.kern2.o.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.delta</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>10</integer>
      <key>public.kern2.Xi</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>30</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.delta.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-14</integer>
      <key>public.kern2.Y.sups</key>
      <integer>22</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.h</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.epsilon</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
      <key>public.kern2.lambda</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.epsilon.sups</key>
    <dict>
      <key>public.kern2.X.sups</key>
      <integer>-14</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-29</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>80</integer>
      <key>public.kern2.S</key>
      <integer>40</integer>
      <key>public.kern2.T</key>
      <integer>80</integer>
      <key>public.kern2.U</key>
      <integer>80</integer>
      <key>public.kern2.V</key>
      <integer>80</integer>
      <key>public.kern2.X</key>
      <integer>80</integer>
      <key>public.kern2.Y</key>
      <integer>120</integer>
      <key>public.kern2.Z</key>
      <integer>80</integer>
      <key>public.kern2.asterisk</key>
      <integer>140</integer>
      <key>public.kern2.g</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.gamma</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.chi</key>
      <integer>-10</integer>
      <key>public.kern2.gamma</key>
      <integer>-10</integer>
      <key>public.kern2.lambda</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.gamma.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-22</integer>
      <key>public.kern2.X.sups</key>
      <integer>-14</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-22</integer>
      <key>public.kern2.lambda.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.ghemiddlehook-cy</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.gheupturn-cy</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>30</integer>
      <key>public.kern2.el-cy</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <integer>-19</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.Etatonos</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.M</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.U</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.X</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.iota</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.Xi</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>-19</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.lambda</key>
      <integer>-10</integer>
      <key>public.kern2.nu</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.k.sups</key>
    <dict>
      <key>public.kern2.Y.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.p</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.lambda</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-60</integer>
      <key>public.kern2.chi</key>
      <integer>-40</integer>
      <key>public.kern2.epsilon</key>
      <integer>-10</integer>
      <key>public.kern2.gamma</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.nu</key>
      <integer>-30</integer>
      <key>public.kern2.omega</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.lambda.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-14</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-22</integer>
      <key>public.kern2.chi.sups</key>
      <integer>-29</integer>
      <key>public.kern2.gamma.sups</key>
      <integer>-22</integer>
      <key>public.kern2.n.sups</key>
      <integer>-14</integer>
      <key>public.kern2.nu.sups</key>
      <integer>-22</integer>
      <key>public.kern2.omega.sups</key>
      <integer>-14</integer>
      <key>public.kern2.p.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.asterisk</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.n.sups</key>
    <dict>
      <key>public.kern2.T.sups</key>
      <integer>-14</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-43</integer>
    </dict>
    <key>public.kern1.nu</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.Omega</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.asterisk</key>
      <integer>-10</integer>
      <key>public.kern2.lambda</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.nu.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-22</integer>
      <key>public.kern2.Omega.sups</key>
      <integer>-14</integer>
      <key>public.kern2.X.sups</key>
      <integer>-14</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.asterisk</key>
      <integer>-40</integer>
      <key>public.kern2.chi</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-13</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.o.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-11</integer>
      <key>public.kern2.H.sups</key>
      <integer>-14</integer>
      <key>public.kern2.T.sups</key>
      <integer>-22</integer>
      <key>public.kern2.X.sups</key>
      <integer>-29</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-65</integer>
      <key>public.kern2.chi.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.omega</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.Xi</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.lambda</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.omega.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-22</integer>
      <key>public.kern2.H.sups</key>
      <integer>-14</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-14</integer>
      <key>public.kern2.lambda.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-150</integer>
      <key>public.kern2.Etatonos</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.Omega</key>
      <integer>-30</integer>
      <key>public.kern2.Phi</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.Upsilontonos</key>
      <integer>-90</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.asterisk</key>
      <integer>-60</integer>
      <key>public.kern2.gamma</key>
      <integer>-50</integer>
      <key>public.kern2.hardsign-cy</key>
      <integer>-20</integer>
      <key>public.kern2.nu</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.pi</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.pi.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-29</integer>
      <key>public.kern2.X.sups</key>
      <integer>-14</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-22</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.H</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.h</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.asterisk</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-19</integer>
    </dict>
    <key>public.kern1.sigma</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.sigma.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-29</integer>
      <key>public.kern2.X.sups</key>
      <integer>-22</integer>
    </dict>
    <key>public.kern1.sigmafinal</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.sigmafinal.sups</key>
    <dict>
      <key>public.kern2.X.sups</key>
      <integer>-14</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.softsign-cy</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <integer>-13</integer>
    </dict>
    <key>public.kern1.softsign-cy.sc</key>
    <dict>
      <key>public.kern2.t.sc</key>
      <integer>-33</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.X</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.theta</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.theta.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.asterisk</key>
      <integer>-30</integer>
      <key>public.kern2.chi</key>
      <integer>-10</integer>
      <key>public.kern2.gamma</key>
      <integer>-10</integer>
      <key>public.kern2.hardsign-cy</key>
      <integer>-20</integer>
      <key>public.kern2.lambda</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.u.sups</key>
    <dict>
      <key>public.kern2.H.sups</key>
      <integer>-14</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.upsilon</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.upsilon.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <integer>-22</integer>
      <key>public.kern2.Y.sups</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.ve-cy</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>30</integer>
      <key>public.kern2.H</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-39</integer>
      <key>public.kern2.o</key>
      <integer>-23</integer>
    </dict>
    <key>public.kern1.xi</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.zeta</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
      <key>public.kern2.asterisk</key>
      <integer>40</integer>
      <key>public.kern2.gamma</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.zeta.sups</key>
    <dict>
      <key>public.kern2.Y.sups</key>
      <integer>14</integer>
      <key>public.kern2.gamma.sups</key>
      <integer>-29</integer>
    </dict>
  </dict>
</plist>
