<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>93C54A95-B2D8-46E2-8E7C-8329DF949C1F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.em-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
