<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AAA0A67F-2FCD-4253-9EC0-41CF2A92621A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstroke-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
