<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4BE78988-1DC0-416D-B4DD-427D0AE7A3FB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.che-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
