<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3F2CE0A2-A73A-45D3-9CAE-394DA8C0802C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.cond</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
