<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>21E35132-C310-4427-BBED-A599DF370986</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.descender-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.descender-cy.alt</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
