<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>38CFBF51-C93F-42D2-8A21-773CBD733A08</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ka-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
