<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B2E40F23-D1D4-4511-BD0E-AE87D40BF8D3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Izhitsa-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
