<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5A1D7A9F-C975-42AC-88BF-508D194B7B1B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>30</integer>
    </dict>
  </dict>
</plist>
