<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F96614C9-7E3F-46A9-B8CC-DF4D76D7101F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
