<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9014CDCD-6F46-4DEF-9B89-B728BFC1D4F8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yusbig-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
