<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>97234D5A-0A1D-4B42-B5AC-C85CEEF242EC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ezh</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
