<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1180DF49-DE73-473E-BE10-A3E5EC53F2E1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Phi</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
