<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>822F5A0C-45FA-4E41-B108-F7392801FF08</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
