<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>80096271-6369-4F30-A1B2-071215713A5C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.iu-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
