<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
  </dict>
</plist>
