<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FB1C01C7-E082-411A-B3D6-1A1B5DF9C952</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Che-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ka-cy</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U-cy</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ze-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
