<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>66A995E3-249B-4102-A7C9-58E288F15B7A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.cond</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
