<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3BA7AC50-8BB8-49C7-A265-A0C7EA0EAB4C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
