<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A6671FFE-9716-4C89-88A0-5D0C9B404878</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
