<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>00974810-5B5B-4821-8CC2-4CBAB8FC32E2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.U-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
