<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B378AF82-7EA3-4C8D-A6F4-E949F4D744AB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.cond</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
