<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>307704F8-4375-4F48-AB3E-2562577AF487</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
