<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>88B6DCD7-D2B7-4AC6-B9DB-AFB4C91F3F16</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
