<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2631123B-1EB8-4A62-8666-B0823B59D148</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
