<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C49A1D52-BCF0-42EE-90D1-0263FD06DC19</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
