<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B4573B71-A3E2-4FB7-834C-2033821D9C9D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ii-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
