<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>43E47B20-ED28-49E3-AA78-E0F19D057C9C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
