<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AE53779B-8D32-42D3-A08F-66B7DCC6285A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstroke-cy</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
